<div>
  <div>
    <h1>
      List of all wallets
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new wallet
    </h2>

    <form action="/insert_wallet" method="post">
      <div>
        <label for="address_box">
          Address
        </label>

        <input type="text" id="address_box" name="query_address">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="balance_box">
          Balance
        </label>

        <input type="text" id="balance_box" name="query_balance">
      </div>

      <button>
        Create wallet
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          ID
        </th>

        <th>
          Address
        </th>

        <th>
          User
        </th>

        <th>
          Balance
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      
    </table>
  </div>
</div>

<hr>
